# Created by .ignore support plugin (hsz.mobi)
.gradle
/build/

# IntelliJ project files
 .idea
.iml
 out
gen
#.gitignore
.idea/inspectionProfiles/
build/reports/
 build/tmp/compileJava/
 build/tmp/compileTestJava/
# com.csye6255.demo/
# java/
 out/test/classes/com/csye6225/demo/rest_assured/Demo.class
# src/test/resources/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
/out/
.idea/
build/**/*
.gradle/**/*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/test/resources/
