# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
build/reports/
# build/tmp/compileJava/
# build/tmp/compileTestJava/
# com.csye6255.demo/
# java/
# out/test/classes/com/csye6225/demo/rest_assured/Demo.class
src/test/resources/
