branches:
  only:
  - master

language: java
jdk:
  - oraclejdk8
services:
  - mysql

##test:
  ##adapter: mysql2
  #database: user_database
  #username: travis
  #encoding: utf8

#before_install:
 # - mysql -e 'CREATE DATABASE IF NOT EXISTS user_database;'
env:
  CATALINA_BASE=/home/travis

sudo: false
install: true

script:
  - ./gradlew war
  #- ./gradlew test --info

after_success:
  - mkdir codedeploy
  - zip -r WebApp-${TRAVIS_JOB_NUMER}.zip build/libs/ROOT.war appsec.yml
  - ls -al
  - mv WebApp-${TRAVIS_JOB_NUMER}.zip codedeploy/
  - ls -al
  - pwd
  - cd codedeploy
  - pwd
  - ls -al

before_deploy:
  - cd ..
  - ls -al
  - pwd

deploy:
- provider: s3
  access_key_id: AKIAIX6QLOIPWLR6NSCA
  secret_access_key:
    secure: "X1xI1b77p88WXbY2omYbZLoj1h3ZboIFk5FZDZWpDoFJ2kGB+QcQq8vnaaNiAYcGQWyUaOdhGKrL1Dk0mGmRFe5UtBb3pBU0w/UEZW30UALi0sLGQZE2LoyAleDGXTKK/qBvvcuczLSObRQksP9BWqFoyCzUYYbyc5C91A9YtQ+ukQT9xbycQUtb0mrIj4oeqXRoemxOQ9XHlCRxA4GqoF4qE7mQyNrnakXxwx8/fvd2dS5i3RaziEodoXa2JEdajKjo02o6MHB4e9ej/ve/QF6o2lieX3hRNh+Gl94B4ypFTJ/a3vIbEnFLGaNSdDEt/kBF9/iM2kX1pwZPbTiwl3scB4Ci13gtReH5sGaDWCx/++ywwbmUqvDlqoCgiv/5doAo5KghoOAgfrQPbz0N6jSL0OZcTX5K/TYwXJiqWES0Ba//+/A8vq5ONv1eddyVnQPUuNnILb442nI5TeNzDm/DhIAVs8F0/wQkxvamzGnXAci6gdyfLCE2iv1Q02EJ/kWDIDK1NY0y0endXGYmfvItSStRU4EgcRI8wR1hFk8DVx23EnIC+/G4aZPjtv22Q47v4CqjzHLoMEW+rV2ZJakbhslSjtTjs1j9hgmvePBI6EAMx/PtHDcyE8VstrCLXFUCwnDkXuerucNQXwaH8WEMNkvYqjE60Wpay7miRgc="
  local_dir: codedeploy
  bucket: code-deploy.csye6225-fall2017-guptarite.me
  region: us-east-1
  skin_cleanup: true

  #- provider: codedeploy
  #  access_key_id:
  #  bucket:
  #  key:
  #  bundle type: zip
  #application: WebApplication
   #deployement_group: WebApplication


notifications:
  email:
    recipients:
      - jain.yo@husky.neu.edu
      - magare.r@husky.neu.edu
      - shetty.pr@husky.neu.edu
      - gupta.rite@husky.neu.edu
